
@{
    ViewBag.Title = "Цены";
}
<style>
    .infinity {
        margin-top: -10px;
        font-size: 40px;
    }

    .big-font {
        font-size: 20px;
    }
</style>

<div class="container">
    <h2>Цены</h2>
    <p>Мы поможем вам ))</p>
    <div class="table-responsive">
        <table class="table big-font">
            <thead>
                <tr>
                    <th> </th>
                    <th>Для начинающих</th>
                    <th>Для продвинутых</th>
                    <th>Для профи</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Кол-во наименований</td>
                    <td>30</td>
                    <td>500</td>
                    <td class="infinity">∞</td>
                </tr>
                <tr>
                    <td>Кол-во админинистраторов</td>
                    <td>1</td>
                    <td>3</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Генерация отчетов</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Аналитика продаж</td>
                    <td>✖</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Система скидок</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Мобильное приложение</td>
                    <td>✖</td>
                    <td>✖</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="button" class="btn btn-success btn-lg">0 грн/месяц</button></td>
                    <td><button type="button" class="btn btn-success btn-lg">199,00 грн/месяц</button></td>
                    <td><button type="button" class="btn btn-success btn-lg">499,00 грн/месяц</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


