@{
    ViewBag.Title = "О нас";
}
<h1>Кто мы ?</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://goo.gl/iHJ4eh" class="img-circle" width="152" height="152">
        </div>
        <div class="col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi bibendum sapien justo, vitae pulvinar risus luctus vel.
                Nulla facilisi. Mauris eu iaculis diam. Phasellus pulvinar odio ut ex porta varius.
                Proin pharetra quam porttitor diam sollicitudin, sit amet vestibulum felis viverra.
                Nullam tempor diam vel elit sodales ullamcorper fermentum ac erat. Duis varius augue sodales, posuere nunc in, fermentum sapien.
                Fusce non velit quam. Nulla in felis eget augue pellentesque consequat.
            </p>
        </div>
    </div>
    <h1>Авторы</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://goo.gl/iHJ4eh" class="img-circle" width="130" height="130">
        </div>
        <div class="col-sm-6">
            <p>
                Андрей Климов - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi bibendum sapien justo, vitae pulvinar risus luctus vel.
                Nulla facilisi. Mauris eu iaculis diam. Phasellus pulvinar odio ut ex porta varius.
                Proin pharetra quam porttitor diam sollicitudin, sit amet vestibulum felis viverra.
            </p>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://goo.gl/iHJ4eh" class="img-circle" width="130" height="130">
        </div>
        <div class="col-sm-6">
            <p>
                Александр Грахов - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi bibendum sapien justo, vitae pulvinar risus luctus vel.
                Nulla facilisi. Mauris eu iaculis diam. Phasellus pulvinar odio ut ex porta varius.
                Proin pharetra quam porttitor diam sollicitudin, sit amet vestibulum felis viverra.
            </p>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://goo.gl/iHJ4eh" class="img-circle" width="130" height="130">
        </div>
        <div class="col-sm-6">
            <p>
                Андрей Коноваленко - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi bibendum sapien justo, vitae pulvinar risus luctus vel.
                Nulla facilisi. Mauris eu iaculis diam. Phasellus pulvinar odio ut ex porta varius.
                Proin pharetra quam porttitor diam sollicitudin, sit amet vestibulum felis viverra.
            </p>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://goo.gl/iHJ4eh" class="img-circle" width="130" height="130">
        </div>
        <div class="col-sm-6">
            <p>
                Иван Стронов - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi bibendum sapien justo, vitae pulvinar risus luctus vel.
                Nulla facilisi. Mauris eu iaculis diam. Phasellus pulvinar odio ut ex porta varius.
                Proin pharetra quam porttitor diam sollicitudin, sit amet vestibulum felis viverra.
            </p>
        </div>
    </div>
</div>
