@model IEnumerable<EmptyProject.Models.Brand>

@{
    ViewBag.Title = "All brands";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Logo
        </th>
        <th>
            Description
        </th>


    </tr>
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @brand.Name
            </td>
            <td>
                <img src="@brand.LogoURL" height="50" width="50"/>
            </td>
            <td>
                @brand.Description
            </td>
        </tr>
    }
</table>

