@model EmptyProject.Models.User

@{
    ViewBag.Title = "User info";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Login
        </th>
    </tr>
    <tr>
        <td>
            @Model.Email
        </td>
        <td>
            @Model.Login
        </td>
    </tr>
</table>